@tailwind base;
@tailwind components;
@tailwind utilities;

.bg_image{
  background-color: #30d467;
  background-image: url('/img/vegetales2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg_rgbaBlack{
  background-color: rgba(0,0,0,0.5);
}
.bg_figuras{
  background-image: url('/img/vegetales3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}